<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.facebook.com" target="_blank">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a href="https://www.linkedin.com" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://www.youtube.com" target="_blank">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>

    <div class="f-info-brand"> &copy; 𝓣ravelNest Private Limited 2025</div>

    <div class="f-info-links">
      <a href="/"><h6>Privacy &nbsp; Notice</h6></a>
      <a href="/"><h6>Conditions of Use & Sale</h6></a>
    </div>
  </div>
</footer>
