<footer>
  <div class="f-info">

    <div class="f-info-left">
      <div class="brand">&copy; 𝓣ravelNest Private Limited 2025</div>
      <div class="f-info-links">
        <a href="/"><i>Privacy Notice</i></a>
        <a href="/"><i>Company Detail</i></a>
      </div>
    </div>

    <div class="f-info-socials">
      <a href="https://www.facebook.com" target="_blank">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a href="https://www.linkedin.com" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://www.youtube.com" target="_blank">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>

  </div>
</footer>

<style>
    .f-info-socials a {
  margin-left: 1rem;
  color: #555;
  font-size: 1.2rem;
  transition: color 0.3s;
}
.f-info-socials a:hover {
  color: #007bff;
}


.f-info-links a {
  margin-right: 1rem;
  text-decoration: none;
  font-size: 0.75rem; /* Smaller font */
  color: #555;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.brand {
    font-size: 0.75rem;
}
</style>