 <% layout('layouts/boilerplate') -%>
 <style>
  body {
    background-color:#244a512b;
    /* background-size: cover; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: #f4f6fa; */
    /* margin: 0;
    padding: 0; */
  }
  </style>
 <div class="row">
  <div class="col-8 offset-2">
    <br/>
 <h3>Create a New Listing</h3>
   <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data" >

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input name="listing[title]" id="title" placeholder="Add a Catchy Title" type="text" class="form-control" required />
    <div class="invalid-feedback">Please enter a title.</div>
    <div class="valid-feedback">
     Title Looks good!
    </div>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" id="description" class="form-control" required></textarea>
    <div class="invalid-feedback">Please enter a short description.</div>
    <div class="valid-feedback">
   Description Looks good!
    </div>
  </div>

   <div class="mb-3">
    <label for="image" class="form-label">Upload Image</label>
    <input name="listing[image]" id="image" type="file" class="form-control" required />
    <div class="invalid-feedback">Please Upload Image.</div>
  </div>

  <div class="row">
    <div class="mb-3 col-md-4">
      <label for="price" class="form-label">Price</label>
      <input name="listing[price]" id="price" placeholder="2400" type="number" class="form-control" required />
      <div class="invalid-feedback">Price should be valid.</div>
      <div class="valid-feedback">
      Awesome!
    </div>
    </div>

    <div class="mb-3 col-md-8">
      <label for="country" class="form-label">Country</label>
      <input name="listing[country]" id="country" placeholder="India" type="text" class="form-control" required />
      <div class="invalid-feedback">Country name should be valid.</div>
    </div>
    <div class="valid-feedback">
      Nice Country!
    </div>
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input name="listing[location]" id="location" placeholder="Patna, Bihar" type="text" class="form-control" required />
    <div class="invalid-feedback">Location should be valid.</div>
      <div class="valid-feedback">
      Nice Location!
    </div>
  </div>

  <button class="btn btn-dark add-btn mt-3">Add</button>
</form>
 
 </div>
   </div>
    <br/>


 