<% layout('layouts/boilerplate') -%>
 
  <style>
     body{
       background-color : white;
     }
    h2 {
      /* margin-top: 350px; */
      color: black;
      background-color: rgba(14, 214, 225, 0.747);
      padding: 50px;
      border-radius: 20px;
    }
  </style>
  <h2>Error 404 - Page Not Found!</h2>
